<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="example-fill-remaining-space"></span>
  <span>
    <button mat-button [matMenuTriggerFor]="accountMenu">
      <mat-icon *ngIf="us.role.accessLevel < 1" >
        person_outline
      </mat-icon>
      <mat-icon *ngIf="us.role.accessLevel < 10 && us.role.accessLevel >= 1" >
        person
      </mat-icon>
      <mat-icon *ngIf="us.role.accessLevel >= 10" >
        supervisor_account
      </mat-icon>
    </button>
  </span>

</mat-toolbar>

<mat-menu #accountMenu="matMenu">
  <div *ngIf="us.role.accessLevel > 0; else signedOut2" >
    <button mat-menu-item (click)="signOut()" ><mat-icon svgIcon="logout"></mat-icon></button>
    <button mat-menu-item (click)="gotoUser()" ><mat-icon>build</mat-icon></button>

  </div>
  <ng-template #signedOut2 >
    <button mat-menu-item (click)="signIn()" ><mat-icon svgIcon="login">logout</mat-icon></button>
  </ng-template>

  <button mat-menu-item (click)="switchAccount()" > <mat-icon svgIcon="account-switch"></mat-icon> </button>
</mat-menu>

<router-outlet></router-outlet>
